nav {
  background-color: white;
}
.nav-placeholder {
}
#my_navbar {
  margin-top: 0.5em;
}
#prof_img {
  width: 130px;
  height: 130px;
}
#section_header {
  z-index: 1;
}
.navbar-link {
  font-size: 12px;
  font-weight: bold;
  margin-right: 40px;
  text-decoration: none;
  line-height: 6.5rem;
  color: #222;
}
.img-circle {
  border-radius: 50%;
  margin-left: 2.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}
.char-space {
  letter-spacing: 1px;
}
.section-spacing {
  margin-top: 1em;
  margin-bottom: 1em;
}
.top-spacing {
  margin-top: 10px;
}
.left-spacing {
  margin-left: 10em;
}
.cool-grey {
  background-color: #f6f9fc;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.left-whitespace {
  margin-left:240px;
}
button.link {
  background: none;
  border: none;
  font-size: 15px;
  text-align: left;
}
